@import 'https://fonts.googleapis.com/css?family=Alegreya+sans';
* {
	margin: 0;
	padding: 0;
	border:	0;
}
body {
	background: #F5F5F5;
	color:#67727A;
	font-family:'Alegreya',sans-serif;
	margin:0;
}
h1{
	font-size: 100%;
	font-weight: 100;
	text-align: center;
	padding-top: 2%;
}
h2 {
	font-size: 200%;
	font-weight: 100;
	text-align: center;
	padding-top: 2%;
}
h3 {
	font-size: 300%;
	font-weight: 500;
	text-align: center;
	padding-bottom: 2%;
}
h4{
	font-size: 100%;
	font-weight: 100;
	text-align: center;
	padding-top: 2%;
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: -4px;
}
header{
	background-color: #FFF;
	width: 100%;
	height: 55px;
}

#header-inner{
	max-width: 1200px;
	margin: 0 auto;
}

/*--- Banner ---*/
.banner{
	width: 100%;
}
.banner-inner{
	max-width: 1300px;
	margin: 0 0 0 0;
	border-bottom: solid 2px;
	border-color: #DCDCDC;
}

/*--- Inner ---*/
.inner-wrapper1{
	padding: 10%;
	background-color: #F7F7F7;
	border-bottom: solid 2px;
	border-color: #DCDCDC;
}
.inner-wrapper2{
	padding: 10%;
	background-color: #FFFFFF;
	border-bottom: solid 2px;
	border-color: #DCDCDC;
}
.inner-wrapper3{
	padding: 10%;
	background-color: #F7F7F7;
	border-bottom: solid 2px;
	border-color: #DCDCDC;
}
/*--- Footer ---*/
footer{
	background-color:#9A9A9A;
	width: 100%;
}
.social {
	list-style-type: none;
	text-align: center;
}
.social li {
	display: inline;
}
.social i {
	font-size: 200%;
	margin:1%;
	padding: 5% 5% 5% 4%;
	color: #FFF;
}
.social i:hover{
	color: #FFFFFF;
}
footer.second{
	text-align: center;
}


/*--side nav--*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F5F5F5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
    border-right: 1px solid;
    border-color: #DCDCDC;

}

.sidenav a {
    padding: 10px;
    text-decoration: none;
    font-size: 80%;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
}
.sidenav .menu {
    position: absolute;
    top:17px;
    left:11px;
    font-size: 12px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#navbar{
	float: left;
	padding-left: 20px;
	padding-top: 15px;
	font-size: 100px;
}

#main {
    transition: margin-left .5s;
    }

 /*-- On off button --*/
 .buttonOn {
    background-color: #27E313; /* Green */
    border: solid #27E313;
    border-radius: 8px;
    color: #fff;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttonOn:hover{
	background-color: #fff;
	color: #000;
}
.buttonOff {
    background-color: #FF1919; /* Red */
    border: solid #FF1919;
    border-radius: 8px;
    color: #fff;
    padding: 8px 18px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	font-family:'Alegreya',sans-serif;
}
.buttonOff:hover{
	background-color: #fff;
	color: #000;
}
.buttonInterval {
    background-color: #DCDCDC; /* Grey */
    border: solid #FFF;
    border-radius: 8px;
    color: #fff;
    padding: 8px 18px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	font-family:'Alegreya',sans-serif;
}
.buttonInterval:hover{
	background-color: #fff;
	color: #000;
}
.button1 {
    background-color: #fff; /* Green */
    border: solid #FFFFCC	;
    border-radius: 8px;
    color: #67727A;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1:hover{
	background-color: #FFFFCC;
}
.button2 {
    background-color: #fff; /* Green */
    border: solid #FFFF99	;
    border-radius: 8px;
    color: #67727A;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button2:hover{
	background-color: #FFFF99;
}
.button3 {
    background-color: #fff; /* Green */
    border: solid #FFFF66	;
    border-radius: 8px;
    color: #67727A;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button3:hover{
	background-color: #FFFF66;
}
.button4 {
    background-color: #fff; /* Green */
    border: solid #FFFF33	;
    border-radius: 8px;
    color: #67727A;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button4:hover{
	background-color: #FFFF33;
}
.button5 {
    background-color: #fff; /* Green */
    border: solid #FFFF00	;
    border-radius: 8px;
    color: #67727A;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button5:hover{
	background-color: #FFFF00;
}
.select{
	background-color: #fff; /* Green */
    border: solid #C0C0C0	;
    border-radius: 8px;
    color: #67727A;
    padding: 5px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.select:hover{
	background-color: #D3D3D3;
}
/*--InputStyle--*/
input[type=text], select {
    width: 30%;
    padding: 4px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    
    background-color: #fff; /* Red */
    border: solid #FF1919;
    border-radius: 8px;
    color: #67727A;
    padding: 8px 18px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	font-family:'Alegreya',sans-serif;

}
input[type=submit]:hover {
	background-color: #27E313;
}

/*--Slidebar--*/
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  margin-top: 20px;
  width: 90%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 2px 2px 4px #D1D1D1;
  background: #F7F7F7;
  border-radius: 25px;
  border: 1px solid #E9ECF0;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2px 2px 3px #ABA2A2;
  border: 1px solid #EDEDED;
  height: 25px;
  width: 30px;
  border-radius: 6px;
  background: #E8E8E8;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #F7F7F7;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 2px 2px 4px #D1D1D1;
  background: #F7F7F7;
  border-radius: 25px;
  border: 1px solid #E9ECF0;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2px 2px 3px #ABA2A2;
  border: 1px solid #EDEDED;
  height: 25px;
  width: 30px;
  border-radius: 6px;
  background: #E8E8E8;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #F7F7F7;
  border: 1px solid #E9ECF0;
  border-radius: 50px;
  box-shadow: 2px 2px 4px #D1D1D1;
}
input[type=range]::-ms-fill-upper {
  background: #F7F7F7;
  border: 1px solid #E9ECF0;
  border-radius: 50px;
  box-shadow: 2px 2px 4px #D1D1D1;
}
input[type=range]::-ms-thumb {
  box-shadow: 2px 2px 3px #ABA2A2;
  border: 1px solid #EDEDED;
  height: 25px;
  width: 30px;
  border-radius: 6px;
  background: #E8E8E8;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #F7F7F7;
}
input[type=range]:focus::-ms-fill-upper {
  background: #F7F7F7;
}
/*--Slidebar--*/
